---
import { Separator } from "../ui/separator";
import TechSkillItem from "../TechSkills/TechSkillItem.astro";

import Nextjs from "../icons/Nextjs.astro";
import React from "../icons/React.astro";
import Angular from "../icons/Angular.astro";

import Express from "../icons/Express.astro";
import Nestjs from "../icons/Nestjs.astro";
import AspNet from "../icons/NetFramework.astro";
import Spring from "../icons/Spring.astro";

import Kotlin from "../icons/Kotlin.astro";
import Flutter from "../icons/Flutter.astro";

import Postgresql from "../icons/Postgresql.astro";
import Oracle from "../icons/Oracle.astro";
import SQLServer from "../icons/SQLServer.astro";
import MySql from "../icons/MySql.astro";
import MongoDB from "../icons/Mongodb.astro";

const frontend = [
  {
    icon: Nextjs,
    link: "https://nextjs.org/",
  },
  {
    icon: React,
    class: "text-[#00D8FF]",
    link: "https://react.dev/",
  },
  {
    icon: Angular,
    class: "text-[#C4473A]",
    link: "https://angular.dev/",
  },
];

const backend = [
  {
    icon: Express,
    class: "text-[#000]",
    link: "https://expressjs.com/",
  },
  {
    icon: Nestjs,
    class: "text-[#DF234F]",
    link: "https://nestjs.com/",
  },
  {
    icon: AspNet,
    link: "https://dotnet.microsoft.com/en-us/apps/aspnet/",
  },
  {
    icon: Spring,
    link: "https://spring.io/",
  },
];

const crossPlatform = [
  {
    icon: Kotlin,
    link: "https://kotlinlang.org/",
  },
  {
    icon: Flutter,
    link: "https://flutter.dev/",
  },
  {
    icon: React,
    class: "text-[#00D8FF]",
    link: "https://reactnative.dev/",
  },
];

const databases = [
  {
    icon: Postgresql,
    class: "text-[#336791]",
    link: "https://www.postgresql.org/",
  },
  {
    icon: Oracle,
    link: "https://www.oracle.com/database/",
  },
  {
    icon: SQLServer,
    link: "https://www.microsoft.com/sql-server/sql-server-2022",
  },
  {
    icon: MySql,
    link: "https://www.mysql.com/",
  },
  {
    icon: MongoDB,
    link: "https://www.mongodb.com/",
  },
];
---

<section
  class="grid grid-cols-1 md:grid-cols-[auto_150px_auto] items-center place-content-center md:[&>div]:h-[84px] space-y-2 md:space-y-5 border border-black/15 dark:border-white/15 p-5 md:p-10 rounded-lg"
>
  <TechSkillItem class="mt-5" title="Front-End" icons={frontend} />
  <div class="flex items-center justify-center">
    <Separator orientation="vertical" className="hidden md:block h-20" />
  </div>
  <TechSkillItem title="Back-End" icons={backend} />
  <TechSkillItem title="Móvil" icons={crossPlatform} />
  <div class="flex items-center justify-center">
    <Separator orientation="vertical" className="hidden md:block h-20" />
  </div>
  <TechSkillItem title="Bases de datos" icons={databases} />
</section>
