---
interface Props {
  class?: string;
  title: string;
  icons: {
    class?: string;
    link?: string;
    icon: (_props: Record<string, any>) => any;
  }[]
}

const { class: className, title, icons } = Astro.props;
---

<div class={className}>
  <h2 class="text-xl font-bold text-yellow-400 mb-2">{title}</h2>
  <div class="flex flex-wrap items-center gap-2">
    {
      icons.map((item) => (
        <a class="hover:cursor-pointer hover:scale-105 duration-300 transition" href={item.link} target="_blank">
          <item.icon class={`size-12 md:size-9 lg:size-12 ${item.class}`} />
        </a>
      ))
    }
  </div>
</div>
