---
import "@/styles/globals.css";
import { differenceInYears } from "date-fns";
import Layout from "@/layouts/Layout.astro";
// import Badge from "@/components/Badge.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import Experience from "@/components/Experience/Experience.astro";
import Education from "@/components/Education/Education.astro";
import Projects from "@/components/Projects/Projects.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Book from "@/components/icons/Book.astro";
import Cv from "@/components/icons/Cv.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import AboutMe from "@/components/AboutMe.astro";
import TechSkills from "@/components/TechSkills/TechSkills.astro";
import Technology from "@/components/icons/Technology.astro";
---

<Layout
  title="Porfolio de psuarezdev - Desarrollador de Software"
  description="Contrata a psuarezdev para crear tu aplicaci칩n web o m칩vil. Desarrollador de Software y T칠cnico en Sistemas Inform치ticos. Especializado en crear aplicaciones 칰nicas."
>
  <main class="px-4">
    <SectionContainer id="presentation" class="py-24 sm:py-44 pb-32">
      <article class="flex items-center gap-3 mb-4 py-1">
        <a
          href="/psuarezdev.webp"
          target="_blank"
        >
          <img
            class="rounded-full size-12 transition-all duration-300 md:hover:scale-105"
            src="/psuarezdev.webp"
            alt="psuarezdev"
          />
        </a>
        <!-- <Badge>
          <a
            href="https://www.linkedin.com/in/pablosuarezbm/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
          >
            Disponible para trabajar
          </a>
        </Badge> -->
      </article>
      <article>
        <h1
          class="text-gray-800 dark:text-white text-xl sm:text-3xl md:text-4xl lg:text-5xl font-bold sm:flex flex-col gap-x-4 pb-6 lg:pb-8"
        >
          Hey, soy Pablo Su치rez
          <span class="block text-[2rem] mt-1 text-gray-500">
            Tengo {differenceInYears(new Date(), new Date("2003-11-15"))} a침os
          </span>
        </h1>
        <h2
          class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
        >
          <span class="text-yellow-500 dark:text-yellow-200">
            Desarrollador de Software
          </span> 
          de Gran Canaria, Espa침a 游쀯릖.<br / />
          Especializado en soluciones escalables y eficientes, con experiencia en todo tipo de aplicaciones.
          Apasionado por el desarrollo de software, la ingenier칤a y la ciencia de datos.
        </h2>
      </article>
      <nav class="flex justify-start flex-wrap gap-4 mt-8">
        <SocialPill href="https://www.linkedin.com/in/pablosuarezbm/">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/psuarezdev">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="/curriculum.pdf" download="CV_Pablo_Suarez.pdf">
          <Cv class="size-4 md:size-6" />
          Curriculum
        </SocialPill>
        <SocialPill href="mailto:pablosuarezbm@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          pablosuarezbm@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-gray-800 dark:text-white"
      >
        <Briefcase class="size-7" /> Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="flex items-center mt-12 mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="education">
      <h2
        class="text-3xl font-semibold mt-12 mb-6 flex gap-x-3 items-center text-gray-800 dark:text-white"
      >
        <Book class="size-7" /> Educaci칩n
      </h2>
      <Education />
    </SectionContainer>
    <SectionContainer id="technologies">
      <h2
        class="flex items-center mt-12 mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <Technology class="size-8" />
        Tecnolog칤as
      </h2>
      <TechSkills />
    </SectionContainer>
    <SectionContainer id="about-me">
      <h2
        class="flex items-center mt-12 mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre m칤
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
