---
import { differenceInYears } from "date-fns";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, me llamo Pablo Suárez y tengo {differenceInYears(new Date(), new Date("2003-11-15"))} años. 
    </p>
    <p>
      🚀 Apasionado por la ingeniería del software, el backend y el análisis de datos, con un fuerte interés en diseñar soluciones eficientes, escalables y bien estructuradas. Me motiva especialmente enfrentar problemas complejos y descomponerlos en soluciones limpias y mantenibles.
    </p>
    <p>
      🧠 Me atraen los aspectos técnicos profundos del desarrollo, como la arquitectura de software, la optimización de algoritmos, el diseño de sistemas escalables y robustos, así como la gestión eficiente de recursos, el manejo de concurrencia y la comunicación entre sistemas. Además, tengo un interés creciente en la seguridad informática, comprendiendo la importancia de implementar prácticas y arquitecturas que protejan datos y sistemas frente a amenazas, garantizando la integridad, confidencialidad y disponibilidad en entornos cada vez más complejos.
    </p>
    <p>
      🧩 El backend es mi zona de confort, donde me concentro en la lógica de negocio, el tratamiento eficiente de datos y las decisiones arquitectónicas que impactan directamente en el rendimiento y la escalabilidad de las aplicaciones. Me interesa entender cómo funcionan los sistemas a bajo nivel y cómo evolucionarlos de manera sostenible.
    </p>
    <p>
      📊 El análisis de datos y la inteligencia artificial son grandes motores de mi motivación profesional. Me entusiasma descubrir patrones, automatizar decisiones y mejorar procesos combinando habilidades técnicas con pensamiento analítico. Disfruto extrayendo valor real a partir de datos complejos mediante técnicas de machine learning, modelos predictivos y algoritmos de IA, buscando siempre soluciones que aporten eficiencia y precisión en la toma de decisiones.
    </p>
    <p>
      🏆 He tenido la oportunidad de poner a prueba mis habilidades en eventos como Canarias Skills 2023 y la 1ª Olimpiada Informática de la ULPGC, experiencias que reforzaron mi enfoque competitivo, técnico y orientado a resultados.
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/psuarezdev.webp"
    alt="psuarezdev"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
