---
import { getAgeFromBirthdate } from "@/lib/utils";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Pablo Suárez, aunque mis amigos me llaman Torito. Tengo {getAgeFromBirthdate("2003-11-15")} años y 
      llevo inmerso en el mundo de la informática desde que tenía 15 años. Mi <strong>curiosidad y pasión por la 
        tecnología</strong> me han impulsado a explorar diversas áreas, adaptándome rápidamente a nuevos entornos 
      tecnológicos y aprendiendo nuevas habilidades.
    </p>
    
    <p>
      Soy un apasionado del desarrollo de software multiplataforma (web, móvil y escritorio), con un amplio 
      conocimiento en <strong><a href="#technologies" class="hover:underline">tecnologías</a></strong> 
      y una sólida <strong><a href="#education" class="hover:underline">formación académica</a></strong>.
      Actualmente, estoy en
      <strong>
        <a href="https://www.linkedin.com/in/pablosuarezbm/" target="_blank" class="hover:underline">
          búsqueda activa de empleo
        </a>
      </strong>
      mientras desarrollo <strong><a href="#projects" class="hover:underline">proyectos personales</a></strong>.
    </p>

    <p>
      Durante estos años, he tenido la oportunidad de participar en diversos proyectos y obtener varias 
      <strong>certificaciones</strong>. También he participado en eventos como las 
      <strong>
        <a href="https://canariasskills.com/ediciones-anteriores/edicion-2023/" target="_blank" class="hover:underline">
          Canarias Skills 2023
        </a>
      </strong> 
      y la 
      <strong>
        <a href="https://www.eii.ulpgc.es/es/I-Edicion-OILP-2023/" target="_blank" class="hover:underline">
          1ª Olimpiada Informática en la ULPGC
        </a>
      </strong>.
    </p>

    <p>
      Recientemente, renuncié a mi anterior puesto de trabajo como 
      <strong>Desarrollador Web y Administrador de Sistemas</strong> 
      debido a la incompatibilidad de horarios con mis estudios. 
      Esta decisión me ha permitido centrarme en terminar mi formación y seguir creciendo profesionalmente.
    </p>
  </div>



  <img
    width="200"
    height="200"
    src="/psuarezdev.webp"
    alt="psuarezdev"
    class=" order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>