<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Pablo Suárez pero mis amigos me llaman torito. Empecé en la
      programación cuando tenía 16 años. Actualmente estoy 
      <strong>
        estudiando el 
        <a href="https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-multiplataforma.html" target="_blank">
          CFGS DAM
        </a>
      </strong>
      a la par que <strong>desarrollo proyectos personales</strong>. 
    </p>

    <p>
      Apasionado profesional de la informática con un firme <strong>compromiso</strong> por el <strong>aprendizaje continuo</strong>. 
      Sobresalgo en la <strong>colaboración</strong> efectiva dentro de <strong>equipos</strong> multidisciplinarios, centrándome en 
      proporcionar soluciones innovadoras y eficientes. Mi dedicación a la excelencia se refleja en 
      mi <strong>constante búsqueda de buenas prácticas</strong> y mi mantenimiento actualizado en las tendencias de la industria.
    </p>

    <p>
      Recientemente me he visto en la necesidad de renunciar a mi anterior puesto de trabajo como
      <strong>Desarrollador Web y Administrador de Sistemas</strong>
      debido a la incompatibilidad de horarios con mis estudios.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/psuarezdev.webp"
    alt="psuarezdev"
    class=" order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>