---
import { getAgeFromBirthdate } from "@/lib/utils";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola, me llamo Pablo Suárez y tengo {getAgeFromBirthdate('2003-11-15')} años. 
      Soy un apasionado por el desarrollo de software, la ingeniería y la ciencia de datos.
    </p>
    <p>
      Desde los 15 años, la curiosidad y la pasión por la tecnología han sido los motores de mi desarrollo personal y profesional. 
      Me apasiona explorar cómo los datos pueden transformar la toma de decisiones, optimizar procesos y generar conocimiento.
    </p>
    <p>
      Cuento con una sólida formación como <strong>Técnico Superior en Desarrollo de Aplicaciones Multiplataforma</strong> 
      y <strong>Técnico en Sistemas Microinformáticos y Redes</strong>, habilidades que me permiten abordar proyectos con una 
      visión técnica integral.
    </p>
    <p>
      Durante estos años, he tenido la oportunidad de participar en diversos proyectos y obtener varias 
      <strong>
        <a href="#education" class="hover:underline">certificaciones.</a>
      </strong>Además, tuve la oportunidad de competir en eventos destacados como
      <strong>
        <a href="https://canariasskills.com/ediciones-anteriores/edicion-2023/" target="_blank" class="hover:underline">
          Canarias Skills 2023
        </a>
      </strong> 
      y la 
      <strong>
        <a href="https://www.eii.ulpgc.es/es/I-Edicion-OILP-2023/" target="_blank" class="hover:underline">
          1ª Olimpiada Informática en la ULPGC.
        </a>
      </strong>
    </p>
  </div>
  <img
    width="200"
    height="200"
    src="/psuarezdev.webp"
    alt="psuarezdev"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
