---
const CERTS = [
{
    title: "Master en React - MERN STACK",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-f75910f3-d6ff-4c03-b4b5-0560abaef75f.jpg",
    link: "https://www.udemy.com/certificate/UC-f75910f3-d6ff-4c03-b4b5-0560abaef75f/",
    duration: 38
  },
  {
    title: "Angula de cero a experto",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-335f5741-d131-4137-9d48-4cb78b493651.jpg",
    link: "https://www.udemy.com/certificate/UC-335f5741-d131-4137-9d48-4cb78b493651/",
    duration: 45
  },
  {
    title: "Spring Framework 6 & Spring Boot 3 desde cero a experto",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-b1a56767-4754-4d6e-9620-e627d94d5089.jpg",
    link: "https://www.udemy.com/certificate/UC-b1a56767-4754-4d6e-9620-e627d94d5089/",
    duration: 81
  },
  {
    title: "Flutter de cero a experto",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-354711c1-1ffe-4666-b351-bc2b9162f820.jpg",
    link: "https://www.udemy.com/certificate/UC-354711c1-1ffe-4666-b351-bc2b9162f820/",
    duration: 50.5
  },
  {
    title: "React Native - Aplicaciones nativas para IOS y Android",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-84774d44-abed-4961-8894-2ccc1fbe434c.jpg",
    link: "https://www.udemy.com/certificate/UC-84774d44-abed-4961-8894-2ccc1fbe434c/",
    duration: 33
  },
  {
    title: "Master en PHP, SQL, POO, MVC, Laravel, Symfony y WordPress",
    image: "https://udemy-certificate.s3.amazonaws.com/image/UC-df589da4-da8b-47ed-87af-880f88d8be57.jpg",
    link: "https://www.udemy.com/certificate/UC-df589da4-da8b-47ed-87af-880f88d8be57/",
    duration: 56.5
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  {CERTS.map(cert => (
    <article class="transition duration-300 transform hover:scale-105">
      <a href={cert.link} target="_blank" rel="noopener noreferrer">
        <img
          class="rounded-lg w-full opacity-90 border border-gray-500 dark:border-gray-400"
          src={cert.image}
          alt={cert.title}
        />
      </a>
      <span class="inline-block p-0 mt-1.5 text-sm text-gray-600/80 dark:text-white/80">
        Duración: {cert.duration} horas en total
      </span>
    </article>
  ))}
</div>
