---
import EducationItem from "./EducationItem.astro";

const EDUCATION = [
  {
    title: "Técnico Superior en Desarrollo de Aplicaciones Multiplataforma",
    school: "IES Lomo La Herradura",
    // TODO: Add average and end date when finished
    date: "Septiembre 2023 - Actualidad",
    link: "https://www.todofp.es/que-estudiar/loe/informatica-comunicaciones/des-aplicaciones-multiplataforma.html"
  },
  {
    title: "Técnico en Sistemas Microinformáticos y Redes",
    school: "IES Lomo La Herradura",
    date: "Septiembre 2021 - Junio 2023",
    average: "8.6",
    link: "https://todofp.es/que-estudiar/loe/informatica-comunicaciones/sistemas-microniformaticos-redes.html"
  },
];
---

<ol class="relative mt-16">
  {
    EDUCATION.map((education) => (
      <li>
        <EducationItem {...education} />
      </li>
    ))
  }
</ol>
