<footer
  class="py-1 px-3 rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="w-full max-w-screen-xl mx-auto flex items-center justify-between px-3 md:px-0"
  >
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
      >Pablo Suárez - {new Date().getFullYear()}
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
      <li>
        <a href="/#about-me" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="mailto:pablosuarezbm@gmail.com" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
