---
import ThemeToggle from "./ThemeToggle.astro";

const navItems = [
  {
    title: "Experiencia",
    url: "/#experience",
  },
  {
    title: "Proyectos",
    url: "/#projects",
  },
  {
    title: "Educación",
    url: "/#education",
  },
  {
    title: "Tecnologías",
    hidden: true,
    url: "/#technologies",
  },
  {
    title: "Sobre mí",
    url: "/#about-me",
  },
  {
    title: "Contacto",
    hidden: true,
    url: "mailto:pablosuarezbm@gmail.com",
  },
];
---

<header
  class="z-10 backdrop-blur-md bg-dark-200/30 dark:bg-dark-900/30 fixed w-full b-20 top-0 left-0"
>
  <nav
    class="flex px-3 py-4 text-xs sm:text-sm font-medium text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    {
      navItems.map((link) => (
        <a
          class={`${link.hidden ? "hidden sm:block" : ""} relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400`}
          aria-label={link.title.replace(" ", "-").toLowerCase()}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>
