---
interface Props {
  title: string;
  skillsClass?: string;
  skills: {
    name: string;
    class?: string;
    icon: any;
  }[];
}

const { title, skills, skillsClass } = Astro.props;
---

<article
  class="gradient-article relative rounded-2xl p-6 dark:border dark:border-[#25203d] bg-gradient-to-r dark:from-dark-950 dark:to-black shadow-2xl overflow-hidden"
>
  <div
    class="pointer-events-none absolute -inset-px opacity-0 transition duration-300"
    style="opacity: 0; background: radial-gradient(600px at 581.8px 15.4px, rgba(255, 182, 255, 0.1), transparent 40%);"
  >
  </div>
  <h3
    class="text-center mb-8 text-xl font-bold lg:text-3xl lg:break-words bg-gradient-to-t text-yellow-500 bg-clip-text text-transparent"
  >
    {title}
  </h3>
  <ul class={skillsClass ?? 'grid grid-cols-3 gap-4'}>
    {
      skills.map((skill) => (
        <li class="group flex flex-col items-center justify-center rounded-2xl">
          <skill.icon class={`size-8 lg:size-10 ${skill?.class}`} />
          <span class="text-sm w-full text-center">{skill.name}</span>
        </li>
      ))
    }
  </ul>
</article>