---
import ExperienceItem from "./ExperienceItem";

const EXPERIENCIE = [
  {
    startDate: new Date("2025-02-01"),
    title: "Desarrollador Full Stack",
    company: "Contactel - Grupo Inetel",
    description: [
      "Desarrollo de aplicaciones web utilizando React y TypeScript.",
      "Implementación de APIs REST con Express.js y Node.js.",
      "Gestión de bases de datos relacionales con PostgreSQL.",
      "Contenerización de aplicaciones con Docker y orquestación con Docker Compose.",
      "Uso de Gitea como plataforma de control de versiones y colaboración en el desarrollo.",
    ],
  },
  {
    startDate: new Date("2023-05-01"),
    endDate: new Date("2023-09-30"),
    title: "Desarrollador Web y Administrador de Sistemas",
    company: "Suisca Group Projects & Services",
    description: [
      "Desarrollo web con tecnologías como HTML5, CSS3, Bootstrap 5, TailwindCSS, JavaScript, PHP y Laravel, asegurando interfaces intuitivas y responsivas.",
      "Gestión de bases de datos Oracle 11g, incluyendo la creación, optimización, mantenimiento de datos y consultas SQL - PL/SQL.",
      "Administración de equipos, servidores y redes, garantizando su correcto funcionamiento y seguridad.",
      "Mantenimiento de software ERP, asegurando su rendimiento y funcionalidad constante para la operación empresarial.",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li>
        <ExperienceItem client:load {...experiencie} />
      </li>
    ))
  }
</ol>
