---
import { getDifferenceBetweenDates } from "@/lib/utils";
import ExperienceItem from "../Experience/ExperienceItem.astro";

const EXPERIENCIE = [
  {
    date: `Febrero 2025 - Actualidad (${getDifferenceBetweenDates("2025-02-1", new Date().toISOString().split('T')[0])})`,
    title: "Desarrollador Full Stack",
    company: "Contactel - Grupo Inetel",
    description: [
      "Desarrollo de aplicaciones web utilizando React y TypeScript.",
      "Implementación de APIs REST con Express.js y Node.js.",
      "Gestión de bases de datos relacionales con PostgreSQL."
    ],
  },
  {
    date: `Mayo 2023 - Septiembre 2023 (${getDifferenceBetweenDates("2023-05-01", "2023-10-01")})`,
    title: "Desarrollador Web y Administrador de Sistemas",
    company: "Suisca Group Projects & Services",
    description: [
      "Desarrollo web con tecnologías como HTML5, CSS3, Bootstrap 5, TailwindCSS, JavaScript, PHP y Laravel, asegurando interfaces intuitivas y responsivas.",
      "Gestión de bases de datos Oracle 11g, incluyendo la creación, optimización, mantenimiento de datos y consultas SQL - PL/SQL.",
      "Administración de equipos, servidores y redes, garantizando su correcto funcionamiento y seguridad.",
      "Mantenimiento de software ERP, asegurando su rendimiento y funcionalidad constante para la operación empresarial.",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
